/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #000;
  color: white;
  font-size: 16px;
}

/* CONTAINER */
.container {
  width: 100%;
  min-height: 100vh;
}

/* NAVBAR */
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 28px 60px;
}

.logo {
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: 700;
}

.navbar nav {
  display: flex;
  gap: 30px;
}

.navbar nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;

  background-image: url("https://th.bing.com/th/id/R.5c73556efd3e74b85fd6eb916ff0369f?pid=ImgRaw&r=0");

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
}

/* OVERLAY */
.overlay {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    90deg,
    rgba(7, 35, 197, 0.9),
    rgba(65, 4, 179, 0.8),
    rgba(129, 8, 177, 0.9)
  );
}

/* TEXTO */
.content {
  position: relative;
  z-index: 2;

  max-width: 650px;
  margin-left: 120px;
}

/* TITULO */
.content h1 {
  font-size: clamp(32px, 6vw, 72px);
  line-height: 1.1;
  margin-bottom: 20px;
}

/* SUBTITLE */
.subtitle {
  margin-bottom: 20px;
  font-size: clamp(14px, 2.5vw, 18px);
}

/* SMALL */
.small-text {
  font-size: 12px;
  letter-spacing: 2px;
}

/* PREÇO */
.price {
  margin: 10px 0 30px;

  font-size: clamp(32px, 6vw, 72px);
  font-weight: bold;
}

.price span {
  font-size: 22px;
  font-weight: 400;
}

/* BOTÕES */
.buttons {
  display: flex;
  gap: 15px;
}

.btn-primary {
  background: #2e2c2c;
  color: white;

  border: none;
  padding: 14px 28px;
  border-radius: 6px;

  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  transform: translateY(-3px);
  background: #444;
}

.btn-secondary {
  background: transparent;
  color: white;

  border: 1px solid rgba(255, 255, 255, 0.5);

  padding: 14px 28px;
  border-radius: 6px;

  font-size: 16px;
  cursor: pointer;
}

.btn-secondary:hover {
  background: rgba(255,255,255,0.1);
}

/* IMAGEM */
.hero-image {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);

  height: 80%;
  z-index: 2;

  filter:
    drop-shadow(0 0 30px rgba(255,255,255,0.2))
    drop-shadow(0 0 60px rgba(255,255,255,0.1));
}

/* RESPONSIVO */
@media (max-width: 900px) {

  .navbar {
    padding: 20px;
  }

  .navbar nav {
    display: none;
  }

  .content {
    margin: 0 20px;
    text-align: center;
  }

  .content h1 {
    font-size: 36px;
  }

  .price {
    font-size: 40px;
  }

  .buttons {
    flex-direction: column;
  }

  .btn-primary,
  .btn-secondary {
    width: 100%;
    padding: 16px;
  }

  .hero-image {
    position: relative;
    right: auto;
    top: auto;
    transform: none;

    height: 220px;
    margin-top: 30px;
  }
}
