/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #000;
  color: white;
  font-size: 16px;
}

/* CONTAINER */
.container {
  width: 100%;
  min-height: 100vh;
}

/* NAVBAR */
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 30px;
}

.logo {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 700;
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;

  display: flex;
  justify-content: center;   /* central horizontal */
  align-items: center;       /* central vertical */

  text-align: center;
  padding: 20px;
}

/* TEXTO */
.content {
  position: relative;
  z-index: 2;

  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

/* TITULO */
.content h1 {
  font-size: clamp(24px, 4vw, 48px);
  line-height: 1.2;
  margin-bottom: 20px;
}

/* SUBTITLE */
.subtitle {
  margin-bottom: 20px;
  font-size: 16px;
}

/* PREÇO */
.price {
  margin: 10px 0 25px;

  font-size: clamp(24px, 4vw, 48px);
  font-weight: bold;
}

.price span {
  font-size: 18px;
  font-weight: 400;
}

/* BOTÕES */
.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.btn-primary {
  background: #2e2c2c;
  color: white;

  border: none;
  padding: 12px 24px;
  border-radius: 6px;

  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  transform: translateY(-2px);
  background: #444;
}

.btn-secondary {
  background: transparent;
  color: white;

  border: 1px solid rgba(255, 255, 255, 0.5);

  padding: 12px 24px;
  border-radius: 6px;

  font-size: 14px;
  cursor: pointer;
}

.btn-secondary:hover {
  background: rgba(255,255,255,0.1);
}

/* FEATURES */
.features {
  margin-top: 60px;
  padding: 30px 20px;
  text-align: center;
}

.features h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.features p {
  font-size: 14px;
  opacity: 0.7;
}

/* CARRINHO */
.cart {
  padding: 30px 20px;
  max-width: 500px;
  margin: auto;
}

.cart h2 {
  margin-bottom: 10px;
}

/* ITEM */
.cart-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.cart-item img {
  width: 50px;
  border-radius: 5px;
}

.cart-item button {
  margin-left: auto;
  background: red;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
}

/* CHECKOUT */
.checkout {
  padding: 20px;
}

/* RESPONSIVO */
@media (max-width: 768px) {

  .content h1 {
    font-size: 28px;
  }

  .price {
    font-size: 30px;
  }

  .buttons {
    flex-direction: column;
  }

  .btn-primary,
  .btn-secondary {
    width: 100%;
  }
}
